# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcarchive

# Build
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Generated DMG output
dist/

# Claude
.claude/
